*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hello{
    text-transform: capitalize;
    font-size: 85px;
    font-family: poppins;
    font-weight: 700;
    text-align: center;
}

.something{
    text-transform: capitalize;
    font-size:85px;
    font-family: Roboto;
    text-align: center;
    font-weight: 300;
}

.animation{
    animation name: HTML;
    animation duration: 3s; 
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    text-align: center;
    font-size: 85px;
    font-weight:
}