body{
    border: 1px solid green;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.outline{
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
    outline: 2px dotted blue;
    outline-offset: 13px;
}